.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homePage .signUp,
.homePage .logIn {
  border: none;
  width: 200px;
  height: 50px;
}
.homePage .signUp a,
.homePage .logIn a {
  text-decoration: none;
}
.homePage .imageContainer,
.homePage .textContainer {
  width: 50%;
  margin: 5px;
}
.homePage .imageContainer img {
  width: 100%;
}
.homePage .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}